/**
 * CSS for the CS142 Project 4, Problem 2 States component.
 * 
 * Since CSS uses a global name space for classes we should use names starting
 * with "cs142-states-" here.
 */
.statesFinder{
    font-family: 'Times New Roman', Times, serif;
}
.statesInput{
    padding: auto;
    background-color: aquamarine;
}
.statesList{
    border: solid aquamarine 3px;
    padding:5%;
    background-color: bisque;
    width: 20%;
}